In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('./Desktop/pydatadc_2018-tidy-master/data/gapminder.tsv', sep='\t')

In [11]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [15]:
type(df.columns)

pandas.core.indexes.base.Index

In [13]:
df.index

RangeIndex(start=0, stop=1704, step=1)

In [16]:
df.shape

(1704, 6)

In [18]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [21]:
df[['country','year','lifeExp']]

          country  year  lifeExp
0     Afghanistan  1952   28.801
1     Afghanistan  1957   30.332
2     Afghanistan  1962   31.997
3     Afghanistan  1967   34.020
4     Afghanistan  1972   36.088
5     Afghanistan  1977   38.438
6     Afghanistan  1982   39.854
7     Afghanistan  1987   40.822
8     Afghanistan  1992   41.674
9     Afghanistan  1997   41.763
10    Afghanistan  2002   42.129
11    Afghanistan  2007   43.828
12        Albania  1952   55.230
13        Albania  1957   59.280
14        Albania  1962   64.820
15        Albania  1967   66.220
16        Albania  1972   67.690
17        Albania  1977   68.930
18        Albania  1982   70.420
19        Albania  1987   72.000
20        Albania  1992   71.581
21        Albania  1997   72.950
22        Albania  2002   75.651
23        Albania  2007   76.423
24        Algeria  1952   43.077
25        Algeria  1957   45.685
26        Algeria  1962   48.303
27        Algeria  1967   51.407
28        Algeria  1972   54.518
29        Algeria  1977   58.014
...           ...   ...      ...
1674  Yemen, Rep.  1982   49.113
1675  Yemen, Rep.  1987   52.922
1676  Yemen, Rep.  1992   55.599
1677  Yemen, Rep.  1997   58.020
1678  Yemen, Rep.  2002   60.308
1679  Yemen, Rep.  2007   62.698
1680       Zambia  1952   42.038
1681       Zambia  1957   44.077
1682       Zambia  1962   46.023
1683       Zambia  1967   47.768
1684       Zambia  1972   50.107
1685       Zambia  1977   51.386
1686       Zambia  1982   51.821
1687       Zambia  1987   50.821
1688       Zambia  1992   46.100
1689       Zambia  1997   40.238
1690       Zambia  2002   39.193
1691       Zambia  2007   42.384
1692     Zimbabwe  1952   48.451
1693     Zimbabwe  1957   50.469
1694     Zimbabwe  1962   52.358
1695     Zimbabwe  1967   53.995
1696     Zimbabwe  1972   55.635
1697     Zimbabwe  1977   57.674
1698     Zimbabwe  1982   60.363
1699     Zimbabwe  1987   62.351
1700     Zimbabwe  1992   60.377
1701     Zimbabwe  1997   46.809
1702     Zimbabwe  2002   39.989
1703     Zimbabwe  2007   43.487

[1704 rows x 3 columns]

In [25]:
df.iloc[1,2]

1957

In [38]:
df.loc[(df.country=='India')&(df.year==2007)]

    country continent  year  lifeExp         pop    gdpPercap
707   India      Asia  2007   64.698  1110396331  2452.210407

In [39]:
pew = pd.read_csv('./Desktop/pydatadc_2018-tidy-master/data/pew.csv')

In [40]:
pew

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162
10,Mainline Prot,289,495,619,655,651,1107,939,753,634,1328
11,Mormon,29,40,48,51,56,112,85,49,42,69
12,Muslim,6,7,9,10,9,23,16,8,6,22
13,Orthodox,13,17,23,32,32,47,38,42,46,73
14,Other Christian,9,7,11,13,13,14,18,14,12,18
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597

In [41]:
pew.shape

(18, 11)

In [45]:
 pew_long =pd.melt(pew,id_vars='religion',var_name='income', value_name='count')

In [47]:
pew_long.head(
)

             religion income  count
0            Agnostic  <$10k     27
1             Atheist  <$10k     12
2            Buddhist  <$10k     27
3            Catholic  <$10k    418
4  Don’t know/refused  <$10k     15

In [48]:
bill = pd.read_csv('./Desktop/pydatadc_2018-tidy-master/data/billboard.csv')

In [1]:
bill.head()

NameError: name 'bill' is not defined

In [126]:
bill_melt = pd.melt(bill,id_vars=['year','artist','track','time','date.entered'],var_name='week', value_name='rating')
bill_melt
bill_melt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24092 entries, 0 to 24091
Data columns (total 7 columns):
year            24092 non-null int64
artist          24092 non-null object
track           24092 non-null object
time            24092 non-null object
date.entered    24092 non-null object
week            24092 non-null object
rating          5307 non-null float64
dtypes: float64(1), int64(1), object(5)
memory usage: 1.3+ MB

In [122]:
bill_melt .loc[bill_melt.track=='Loser']

       year        artist  track  time date.entered  week  rating
3      2000  3 Doors Down  Loser  4:24   2000-10-21   wk1    76.0
320    2000  3 Doors Down  Loser  4:24   2000-10-21   wk2    76.0
637    2000  3 Doors Down  Loser  4:24   2000-10-21   wk3    72.0
954    2000  3 Doors Down  Loser  4:24   2000-10-21   wk4    69.0
1271   2000  3 Doors Down  Loser  4:24   2000-10-21   wk5    67.0
1588   2000  3 Doors Down  Loser  4:24   2000-10-21   wk6    65.0
1905   2000  3 Doors Down  Loser  4:24   2000-10-21   wk7    55.0
2222   2000  3 Doors Down  Loser  4:24   2000-10-21   wk8    59.0
2539   2000  3 Doors Down  Loser  4:24   2000-10-21   wk9    62.0
2856   2000  3 Doors Down  Loser  4:24   2000-10-21  wk10    61.0
3173   2000  3 Doors Down  Loser  4:24   2000-10-21  wk11    61.0
3490   2000  3 Doors Down  Loser  4:24   2000-10-21  wk12    59.0
3807   2000  3 Doors Down  Loser  4:24   2000-10-21  wk13    61.0
4124   2000  3 Doors Down  Loser  4:24   2000-10-21  wk14    66.0
4441   2000  3 Doors Down  Loser  4:24   2000-10-21  wk15    72.0
4758   2000  3 Doors Down  Loser  4:24   2000-10-21  wk16    76.0
5075   2000  3 Doors Down  Loser  4:24   2000-10-21  wk17    75.0
5392   2000  3 Doors Down  Loser  4:24   2000-10-21  wk18    67.0
5709   2000  3 Doors Down  Loser  4:24   2000-10-21  wk19    73.0
6026   2000  3 Doors Down  Loser  4:24   2000-10-21  wk20    70.0
6343   2000  3 Doors Down  Loser  4:24   2000-10-21  wk21     NaN
6660   2000  3 Doors Down  Loser  4:24   2000-10-21  wk22     NaN
6977   2000  3 Doors Down  Loser  4:24   2000-10-21  wk23     NaN
7294   2000  3 Doors Down  Loser  4:24   2000-10-21  wk24     NaN
7611   2000  3 Doors Down  Loser  4:24   2000-10-21  wk25     NaN
7928   2000  3 Doors Down  Loser  4:24   2000-10-21  wk26     NaN
8245   2000  3 Doors Down  Loser  4:24   2000-10-21  wk27     NaN
8562   2000  3 Doors Down  Loser  4:24   2000-10-21  wk28     NaN
8879   2000  3 Doors Down  Loser  4:24   2000-10-21  wk29     NaN
9196   2000  3 Doors Down  Loser  4:24   2000-10-21  wk30     NaN
...     ...           ...    ...   ...          ...   ...     ...
14585  2000  3 Doors Down  Loser  4:24   2000-10-21  wk47     NaN
14902  2000  3 Doors Down  Loser  4:24   2000-10-21  wk48     NaN
15219  2000  3 Doors Down  Loser  4:24   2000-10-21  wk49     NaN
15536  2000  3 Doors Down  Loser  4:24   2000-10-21  wk50     NaN
15853  2000  3 Doors Down  Loser  4:24   2000-10-21  wk51     NaN
16170  2000  3 Doors Down  Loser  4:24   2000-10-21  wk52     NaN
16487  2000  3 Doors Down  Loser  4:24   2000-10-21  wk53     NaN
16804  2000  3 Doors Down  Loser  4:24   2000-10-21  wk54     NaN
17121  2000  3 Doors Down  Loser  4:24   2000-10-21  wk55     NaN
17438  2000  3 Doors Down  Loser  4:24   2000-10-21  wk56     NaN
17755  2000  3 Doors Down  Loser  4:24   2000-10-21  wk57     NaN
18072  2000  3 Doors Down  Loser  4:24   2000-10-21  wk58     NaN
18389  2000  3 Doors Down  Loser  4:24   2000-10-21  wk59     NaN
18706  2000  3 Doors Down  Loser  4:24   2000-10-21  wk60     NaN
19023  2000  3 Doors Down  Loser  4:24   2000-10-21  wk61     NaN
19340  2000  3 Doors Down  Loser  4:24   2000-10-21  wk62     NaN
19657  2000  3 Doors Down  Loser  4:24   2000-10-21  wk63     NaN
19974  2000  3 Doors Down  Loser  4:24   2000-10-21  wk64     NaN
20291  2000  3 Doors Down  Loser  4:24   2000-10-21  wk65     NaN
20608  2000  3 Doors Down  Loser  4:24   2000-10-21  wk66     NaN
20925  2000  3 Doors Down  Loser  4:24   2000-10-21  wk67     NaN
21242  2000  3 Doors Down  Loser  4:24   2000-10-21  wk68     NaN
21559  2000  3 Doors Down  Loser  4:24   2000-10-21  wk69     NaN
21876  2000  3 Doors Down  Loser  4:24   2000-10-21  wk70     NaN
22193  2000  3 Doors Down  Loser  4:24   2000-10-21  wk71     NaN
22510  2000  3 Doors Down  Loser  4:24   2000-10-21  wk72     NaN
22827  2000  3 Doors Down  Loser  4:24   2000-10-21  wk73     NaN
23144  2000  3 Doors Down  Loser  4:24   2000-10-21  wk74     NaN
23461  2000  3 Doors Down  Loser  4:24   2000-10-21  wk75     NaN
23778  2000  3 Doors Down  Loser  4:24   2000-10-21  wk76     NaN

[76 rows x 7 columns]

In [127]:
bill_songs = bill_melt.loc[:,['year','artist','track','time']]
bill_songs = bill_songs.drop_duplicates()
bill_songs['song_id']= range(len(bill_songs))

new_bill = bill_melt.merge(bill_songs,on=['year','artist','track','time'])
new_bill = new_bill[['year','song_id','week','rating']]
bill_songs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 317 entries, 0 to 316
Data columns (total 5 columns):
year       317 non-null int64
artist     317 non-null object
track      317 non-null object
time       317 non-null object
song_id    317 non-null int64
dtypes: int64(2), object(3)
memory usage: 14.9+ KB

In [128]:

new_bill.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24092 entries, 0 to 24091
Data columns (total 4 columns):
year       24092 non-null int64
song_id    24092 non-null int64
week       24092 non-null object
rating     5307 non-null float64
dtypes: float64(1), int64(2), object(1)
memory usage: 941.1+ KB

In [55]:
ebola = pd.read_csv('./Desktop/pydatadc_2018-tidy-master/data/country_timeseries.csv')

In [134]:
ebola.head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN

In [135]:
ebola_melt = pd.melt(ebola,id_vars=['Date','Day'], var_name='case', value_name='value')

In [136]:
ebola_melt.head(250)

           Date  Day               case    value
0      1/5/2015  289       Cases_Guinea   2776.0
1      1/4/2015  288       Cases_Guinea   2775.0
2      1/3/2015  287       Cases_Guinea   2769.0
3      1/2/2015  286       Cases_Guinea      NaN
4    12/31/2014  284       Cases_Guinea   2730.0
5    12/28/2014  281       Cases_Guinea   2706.0
6    12/27/2014  280       Cases_Guinea   2695.0
7    12/24/2014  277       Cases_Guinea   2630.0
8    12/21/2014  273       Cases_Guinea   2597.0
9    12/20/2014  272       Cases_Guinea   2571.0
10   12/18/2014  271       Cases_Guinea      NaN
11   12/14/2014  267       Cases_Guinea   2416.0
12    12/9/2014  262       Cases_Guinea      NaN
13    12/7/2014  260       Cases_Guinea   2292.0
14    12/3/2014  256       Cases_Guinea      NaN
15   11/30/2014  253       Cases_Guinea   2164.0
16   11/28/2014  251       Cases_Guinea      NaN
17   11/23/2014  246       Cases_Guinea   2134.0
18   11/22/2014  245       Cases_Guinea      NaN
19   11/18/2014  241       Cases_Guinea   2047.0
20   11/16/2014  239       Cases_Guinea   1971.0
21   11/15/2014  238       Cases_Guinea      NaN
22   11/11/2014  234       Cases_Guinea   1919.0
23   11/10/2014  233       Cases_Guinea      NaN
24    11/9/2014  232       Cases_Guinea   1878.0
25    11/8/2014  231       Cases_Guinea      NaN
26    11/4/2014  227       Cases_Guinea      NaN
27    11/3/2014  226       Cases_Guinea   1760.0
28    11/2/2014  225       Cases_Guinea   1731.0
29   10/31/2014  222       Cases_Guinea      NaN
..          ...  ...                ...      ...
220    5/1/2014   40      Cases_Liberia     13.0
221   4/26/2014   35      Cases_Liberia      NaN
222   4/24/2014   33      Cases_Liberia     35.0
223   4/23/2014   32      Cases_Liberia      NaN
224   4/22/2014   31      Cases_Liberia      NaN
225   4/21/2014   30      Cases_Liberia     34.0
226   4/20/2014   29      Cases_Liberia      NaN
227   4/17/2014   26      Cases_Liberia     27.0
228   4/16/2014   25      Cases_Liberia     27.0
229   4/15/2014   24      Cases_Liberia      NaN
230   4/14/2014   23      Cases_Liberia      NaN
231   4/11/2014   20      Cases_Liberia     26.0
232    4/9/2014   18      Cases_Liberia     25.0
233    4/7/2014   16      Cases_Liberia     21.0
234    4/4/2014   13      Cases_Liberia     18.0
235    4/1/2014   10      Cases_Liberia      8.0
236   3/31/2014    9      Cases_Liberia      8.0
237   3/29/2014    7      Cases_Liberia      7.0
238   3/28/2014    6      Cases_Liberia      3.0
239   3/27/2014    5      Cases_Liberia      8.0
240   3/26/2014    4      Cases_Liberia      NaN
241   3/25/2014    3      Cases_Liberia      NaN
242   3/24/2014    2      Cases_Liberia      NaN
243   3/22/2014    0      Cases_Liberia      NaN
244    1/5/2015  289  Cases_SierraLeone  10030.0
245    1/4/2015  288  Cases_SierraLeone   9780.0
246    1/3/2015  287  Cases_SierraLeone   9722.0
247    1/2/2015  286  Cases_SierraLeone      NaN
248  12/31/2014  284  Cases_SierraLeone   9633.0
249  12/28/2014  281  Cases_SierraLeone   9446.0

[250 rows x 4 columns]

In [138]:
ebola_melt[['status','country']]=ebola_melt.case.str.split('_', expand=True)
ebola_melt[['status','country']]

      status country
0      Cases  Guinea
1      Cases  Guinea
2      Cases  Guinea
3      Cases  Guinea
4      Cases  Guinea
5      Cases  Guinea
6      Cases  Guinea
7      Cases  Guinea
8      Cases  Guinea
9      Cases  Guinea
10     Cases  Guinea
11     Cases  Guinea
12     Cases  Guinea
13     Cases  Guinea
14     Cases  Guinea
15     Cases  Guinea
16     Cases  Guinea
17     Cases  Guinea
18     Cases  Guinea
19     Cases  Guinea
20     Cases  Guinea
21     Cases  Guinea
22     Cases  Guinea
23     Cases  Guinea
24     Cases  Guinea
25     Cases  Guinea
26     Cases  Guinea
27     Cases  Guinea
28     Cases  Guinea
29     Cases  Guinea
...      ...     ...
1922  Deaths    Mali
1923  Deaths    Mali
1924  Deaths    Mali
1925  Deaths    Mali
1926  Deaths    Mali
1927  Deaths    Mali
1928  Deaths    Mali
1929  Deaths    Mali
1930  Deaths    Mali
1931  Deaths    Mali
1932  Deaths    Mali
1933  Deaths    Mali
1934  Deaths    Mali
1935  Deaths    Mali
1936  Deaths    Mali
1937  Deaths    Mali
1938  Deaths    Mali
1939  Deaths    Mali
1940  Deaths    Mali
1941  Deaths    Mali
1942  Deaths    Mali
1943  Deaths    Mali
1944  Deaths    Mali
1945  Deaths    Mali
1946  Deaths    Mali
1947  Deaths    Mali
1948  Deaths    Mali
1949  Deaths    Mali
1950  Deaths    Mali
1951  Deaths    Mali

[1952 rows x 2 columns]

In [76]:
ebola_melt.drop(columns='case')

ebola_melt = ebola_melt[['Date','Day','country','status','value']]

In [77]:
ebola_melt

            Date  Day country  status   value
0       1/5/2015  289  Guinea   Cases  2776.0
1       1/4/2015  288  Guinea   Cases  2775.0
2       1/3/2015  287  Guinea   Cases  2769.0
3       1/2/2015  286  Guinea   Cases     NaN
4     12/31/2014  284  Guinea   Cases  2730.0
5     12/28/2014  281  Guinea   Cases  2706.0
6     12/27/2014  280  Guinea   Cases  2695.0
7     12/24/2014  277  Guinea   Cases  2630.0
8     12/21/2014  273  Guinea   Cases  2597.0
9     12/20/2014  272  Guinea   Cases  2571.0
10    12/18/2014  271  Guinea   Cases     NaN
11    12/14/2014  267  Guinea   Cases  2416.0
12     12/9/2014  262  Guinea   Cases     NaN
13     12/7/2014  260  Guinea   Cases  2292.0
14     12/3/2014  256  Guinea   Cases     NaN
15    11/30/2014  253  Guinea   Cases  2164.0
16    11/28/2014  251  Guinea   Cases     NaN
17    11/23/2014  246  Guinea   Cases  2134.0
18    11/22/2014  245  Guinea   Cases     NaN
19    11/18/2014  241  Guinea   Cases  2047.0
20    11/16/2014  239  Guinea   Cases  1971.0
21    11/15/2014  238  Guinea   Cases     NaN
22    11/11/2014  234  Guinea   Cases  1919.0
23    11/10/2014  233  Guinea   Cases     NaN
24     11/9/2014  232  Guinea   Cases  1878.0
25     11/8/2014  231  Guinea   Cases     NaN
26     11/4/2014  227  Guinea   Cases     NaN
27     11/3/2014  226  Guinea   Cases  1760.0
28     11/2/2014  225  Guinea   Cases  1731.0
29    10/31/2014  222  Guinea   Cases     NaN
...          ...  ...     ...     ...     ...
1922   5/23/2014   62    Mali  Deaths     NaN
1923   5/12/2014   51    Mali  Deaths     NaN
1924   5/10/2014   49    Mali  Deaths     NaN
1925    5/7/2014   46    Mali  Deaths     NaN
1926    5/5/2014   44    Mali  Deaths     NaN
1927    5/3/2014   42    Mali  Deaths     NaN
1928    5/1/2014   40    Mali  Deaths     NaN
1929   4/26/2014   35    Mali  Deaths     NaN
1930   4/24/2014   33    Mali  Deaths     NaN
1931   4/23/2014   32    Mali  Deaths     NaN
1932   4/22/2014   31    Mali  Deaths     NaN
1933   4/21/2014   30    Mali  Deaths     NaN
1934   4/20/2014   29    Mali  Deaths     NaN
1935   4/17/2014   26    Mali  Deaths     NaN
1936   4/16/2014   25    Mali  Deaths     NaN
1937   4/15/2014   24    Mali  Deaths     NaN
1938   4/14/2014   23    Mali  Deaths     NaN
1939   4/11/2014   20    Mali  Deaths     NaN
1940    4/9/2014   18    Mali  Deaths     NaN
1941    4/7/2014   16    Mali  Deaths     NaN
1942    4/4/2014   13    Mali  Deaths     NaN
1943    4/1/2014   10    Mali  Deaths     NaN
1944   3/31/2014    9    Mali  Deaths     NaN
1945   3/29/2014    7    Mali  Deaths     NaN
1946   3/28/2014    6    Mali  Deaths     NaN
1947   3/27/2014    5    Mali  Deaths     NaN
1948   3/26/2014    4    Mali  Deaths     NaN
1949   3/25/2014    3    Mali  Deaths     NaN
1950   3/24/2014    2    Mali  Deaths     NaN
1951   3/22/2014    0    Mali  Deaths     NaN

[1952 rows x 5 columns]

In [78]:
weather = pd.read_csv('./Desktop/pydatadc_2018-tidy-master/data/weather.csv')

In [81]:
weather_melt = pd.melt(weather, id_vars=['id','year','month','element'], var_name='day',value_name='temp')

In [88]:
weather_pivot = weather_melt.pivot_table(index=['id','year','month','day'],columns='element',values='temp')

In [89]:
weather_pivot.reset_index()

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1  d30  27.8  14.5
1        MX17004  2010      2  d11  29.7  13.4
2        MX17004  2010      2   d2  27.3  14.4
3        MX17004  2010      2  d23  29.9  10.7
4        MX17004  2010      2   d3  24.1  14.4
5        MX17004  2010      3  d10  34.5  16.8
6        MX17004  2010      3  d16  31.1  17.6
7        MX17004  2010      3   d5  32.1  14.2
8        MX17004  2010      4  d27  36.3  16.7
9        MX17004  2010      5  d27  33.2  18.2
10       MX17004  2010      6  d17  28.0  17.5
11       MX17004  2010      6  d29  30.1  18.0
12       MX17004  2010      7   d3  28.6  17.5
13       MX17004  2010      7  d14  29.9  16.5
14       MX17004  2010      8  d23  26.4  15.0
15       MX17004  2010      8   d5  29.6  15.8
16       MX17004  2010      8  d29  28.0  15.3
17       MX17004  2010      8  d13  29.8  16.5
18       MX17004  2010      8  d25  29.7  15.6
19       MX17004  2010      8  d31  25.4  15.4
20       MX17004  2010      8   d8  29.0  17.3
21       MX17004  2010     10   d5  27.0  14.0
22       MX17004  2010     10  d14  29.5  13.0
23       MX17004  2010     10  d15  28.7  10.5
24       MX17004  2010     10  d28  31.2  15.0
25       MX17004  2010     10   d7  28.1  12.9
26       MX17004  2010     11   d2  31.3  16.3
27       MX17004  2010     11   d5  26.3   7.9
28       MX17004  2010     11  d27  27.7  14.2
29       MX17004  2010     11  d26  28.1  12.1
30       MX17004  2010     11   d4  27.2  12.0
31       MX17004  2010     12   d1  29.9  13.8
32       MX17004  2010     12   d6  27.8  10.5

In [129]:
police = pd.read_csv('./Desktop/pycon-2018-tutorial-master/police.csv')

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
5,2005-03-23,09:45,NaN,M,1982.0,23.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
6,2005-04-01,17:30,NaN,M,1969.0,36.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
7,2005-06-06,13:20,NaN,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
8,2005-07-13,10:15,NaN,M,1970.0,35.0,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
9,2005-07-13,15:45,NaN,M,1970.0,35.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
10,2005-07-13,16:20,NaN,M,1979.0,26.0,Asian,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
11,2005-07-13,19:00,NaN,F,1966.0,39.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
12,2005-07-14,19:55,NaN,M,1979.0,26.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
13,2005-07-18,19:30,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
14,2005-07-18,19:45,NaN,M,1969.0,36.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
15,2005-07-19,00:30,NaN,M,1982.0,23.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
16,2005-07-19,00:30,NaN,M,1982.0,23.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
17,2005-07-19,23:30,NaN,M,1979.0,26.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
18,2005-07-20,00:05,NaN,M,1955.0,50.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
19,2005-07-24,20:10,NaN,F,1958.0,47.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
20,2005-07-28,12:37,NaN,F,1979.0,26.0,Asian,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
21,2005-08-07,16:50,NaN,M,1953.0,52.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
22,2005-08-08,02:09,NaN,M,1955.0,50.0,Black,Other Traffic Violation,Moving violation,False,NaN,Arrest Driver,True,30+ Min,False
23,2005-08-18,10:57,NaN,F,1967.0,38.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
24,2005-08-28,01:00,NaN,M,1979.0,26.0,White,Other Traffic Violation,Moving violation,True,"Incident to Arrest,Protective Frisk",Arrest Driver,True,16-30 Min,False
25,2005-09-03,16:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
26,2005-09-17,10:54,NaN,M,1964.0,41.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
27,2005-09-21,13:30,NaN,F,1977.0,28.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
28,2005-09-22,22:34,NaN,M,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
29,2005-09-26,01:05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91711,2015-12-30,15:42,NaN,M,1974.0,41.0,White,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False
91712,2015-12-30,16:19,NaN,F,1989.0,26.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91713,2015-12-30,17:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
91714,2015-12-30,17:39,NaN,M,1996.0,19.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False
91715,2015-12-30,23:26,NaN,F,1994.0,21.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91716,2015-12-30,23:33,NaN,F,1983.0,32.0,Hispanic,Seatbelt Violation,Seat belt,False,NaN,Citation,False,0-15 Min,False
91717,2015-12-31,00:00,NaN,F,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91718,2015-12-31,00:01,NaN,M,1966.0,49.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
91719,2015-12-31,06:31,NaN,M,1989.0,26.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
91720,2015-12-31,06:32,NaN,M,1975.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False
91721,2015-12-31,06:49,NaN,M,1943.0,72.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91722,2015-12-31,07:06,NaN,M,1970.0,45.0,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91723,2015-12-31,07:14,NaN,M,1978.0,37.0,Hispanic,Registration Violation,Registration/plates,False,NaN,Citation,False,0-15 Min,False
91724,2015-12-31,07:27,NaN,M,1997.0,18.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91725,2015-12-31,08:14,NaN,F,1960.0,55.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91726,2015-12-31,08:41,NaN,M,1992.0,23.0,White,Speeding,Speeding,False,NaN,No Action,False,0-15 Min,False
91727,2015-12-31,09:17,NaN,F,1995.0,20.0,White,Speeding,Speeding,False,NaN,Warning,False,16-30 Min,False
91728,2015-12-31,13:50,NaN,F,1982.0,33.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91729,2015-12-31,14:21,NaN,F,1988.0,27.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
91730,2015-12-31,15:36,NaN,F,1996.0,19.0,Hispanic,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91731,2015-12-31,16:38,NaN,F,1988.0,27.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91732,2015-12-31,19:44,NaN,F,1969.0,46.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91733,2015-12-31,19:55,NaN,F,1974.0,41.0,White,Registration Violation,Registration/plates,False,NaN,Citation,False,0-15 Min,False
91734,2015-12-31,20:20,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91735,2015-12-31,20:25,NaN,M,1992.0,23.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False